<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rili.demo.dao.CustomerDao">
    <select id="find" parameterType="com.rili.demo.entity.SearchParam" resultType="com.rili.demo.entity.SearchResult">
        SELECT
            customer_id AS searchValue,
            customer_id AS customerId
        FROM
            tb_rili_customer
        WHERE
            customer_id LIKE CONCAT('%', #{searchValue},'%')
        UNION
        SELECT
            customer_name AS searchValue,
            customer_id AS customerId
        FROM
            tb_rili_customer
        WHERE
            customer_name LIKE CONCAT('%', #{searchValue},'%')
        UNION
        SELECT
            jy_customer_name AS searchValue,
            customer_id AS customerId
        FROM
            tb_rili_customer
        WHERE
            jy_customer_name LIKE CONCAT('%', #{searchValue},'%')
    </select>


    <select id="getList" parameterType="string" resultType="com.rili.demo.entity.CustomerEntity">
        SELECT
            customer_id,
            customer_name,
            customer_type,
            customer_org_name,
            whole_machine_id,
            jy_machine_name,
            jy_customer_code,
            jy_machine_code,
            jy_customer_name,
            service_level,
            mine_level,
            business_level
        FROM
            tb_rili_customer
        WHERE
            customer_id = #{customerId}
    </select>
</mapper>